/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.php_cs.cache
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode
